<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>851727943037-5dg4kcbmqmd355t7ile7tvt92emh0f6k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.851727943037-5dg4kcbmqmd355t7ile7tvt92emh0f6k</string>
	<key>API_KEY</key>
	<string>AIzaSyCedD_hGMnh7y25U7ZidBkHDJANHvH-j0c</string>
	<key>GCM_SENDER_ID</key>
	<string>851727943037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ozgurobss.BuyMe-</string>
	<key>PROJECT_ID</key>
	<string>buyme-6b486</string>
	<key>STORAGE_BUCKET</key>
	<string>buyme-6b486.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:851727943037:ios:0d8bd02da36ca86e0f7814</string>
</dict>
</plist>